span{
    text-transform: uppercase;
}

input{
    box-sizing: border-box;
    border: 2px solid black;
}

.texto_principal{
    text-align: center;
}


.conteudo{
    display: none;
}

.mostra_erro{
    display: none;
}

.img_pokebola{
    position: absolute;
    top: 0;
    left: 0;
    height: 64px;
}

.img_logo{
    position: absolute;
    top: 0;
    right: 0;
    height: 64px;
}

#img_pok_front,#img_pok_back{
    width: 250px;
    height: 250px;
    border: hidden;
}

#erro,#erro_pok{
    display: none;
    color: red;
}

#spinner{
    display: none;
    
}

